 .text_align_center
  {
    	text-align: center;
  }

  .custom_css_for_tbl
  {
    	width: 800px;
  }

  .pdf_styles
  {
  		cursor:pointer;
  		width:30px;
  }

  .margin_left
  {
  		margin-left: 600px;
  }

  .margin_top
  {
  		margin-top: 10px;
  }

  .style_for_heading
  {
  		margin-left: 100px;
  }

  a:hover 
  {
      background-color: white;
  }