  .table_row_css
  {
      background-color: grey;
      color: white;
      cursor: pointer;
  }

  .pdf_styles
  {
  		cursor:pointer;
  		width:30px;
  }

  .margin_left
  {
  		margin-left: 600px;
  }

  .margin_top
  {
  		margin-top: 10px;
  }

  .style_for_heading
  {
  		margin-left: 100px;
  }

  a:hover 
  {
      background-color: white;
  }

  .fields_css
  {
      text-align: right;
      vertical-align: middle !important;
      padding-top: 15px !important;
      font-size: 15px !important;
  }

  .form-control
  {
      width: 50% !important;
  }

  .custom_css_for_tbl
  {
      width: 50%;
  }

  .weather_css
  {
      display: inherit;
      font-weight: bold;
  }

  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td
  {
      vertical-align: middle;
  }

  .navbar 
  {
      margin-bottom: 0;
      border-radius: 0;
  }
    
  .row.content {height: 855px}
    
  .sidenav 
  {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
  }
    
  footer 
  {
      background-color: #555;
      color: white;
      padding: 15px;
  }
    
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }