<nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <%= link_to 'My Cars App', cars_path, :class=>"navbar-brand" %>
          </div>

          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                  <li class="active"><%= link_to 'Cars', cars_path %></li>
                  <li><%= link_to 'Comments', comments_path %></li>
              </ul>
          </div>
      </div>
</nav>